<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="./" class="navbar-brand">PI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="Home page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="Amplifiers"
                        href="/catalogue/amplifiers">Amplifiers</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="Receivers"
                        href="/catalogue/receivers">Receivers</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="Network Players"
                        href="/catalogue/network-players">Network
                        Players</a>
                </li>
                <li class="nav-item"><a class="nav-link" aria-current="CD Players" href="/catalogue/cd-players">CD
                        Players</a></li>
                <li class="nav-item"><a class="nav-link" href="/products/new">Add New Product</a></li>
            </ul>

        </div>
    </div>
</div>