* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #1a1c00;
    background-image: url("/media/binding-dark.png");
    color: white;
}

input,
select,
textarea {
    background-color: #a4bc92;
}
