* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #1a1c00;
    background-image: url("/media/binding-dark.png");
    color: white;
    position: relative;
}

input,
select,
textarea {
    background-color: #a4bc92;
}

.card {
    background-color: #40513b6c;
}

.home-bg {
    background-image: url("../media/home-bg.jpg");
    background-size: cover;
    background-position: center;
}

.home-bg-overlay {
    height: 100%;
    width: 100%;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.683);
    display: block;
}

.carousel {
    height: 60vh;
}

.out-of-stock {
    background-color: red;
}
