* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #1a1c0020;
    color: white;
    position: relative;
}

input,
select,
textarea {
    background-color: #a4bc92;
}

a {
    color: inherit;
}

.demo {
    font-size: 6px;
    transition: 0.2s ease-in-out;
    overflow: visible;
}
.demo:hover {
    font-size: 18px;
}

.main-container {
    max-width: 1200px;
}

/* Homepage Section */

.home-bg {
    background-image: url("../media/home-bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: 10;
}

.home-bg-overlay {
    height: 100%;
    width: 100%;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.683);
    display: block;
    z-index: 20;
}

.home-bottom {
    background-image: url("https://picsum.photos/900/600");
    background-position: center;
    background-size: cover;
}

.carousel-item img {
    height: 500px;
    width: 500px;
    object-fit: contain;
}

/* Catalogue Pages */

.product-container {
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(25% - 20px);
}

.card-title {
    font-size: 12px;
}

.product-filters {
    width: 200px;
    margin-right: 30px;
}

.list-group-item {
    font-size: 0.7rem;
}

.list-group li {
    text-decoration: none;
}

/* Catalogue pages */
.catalogue-btn {
    font-size: 12px;
}
/* Media queries */
@media only screen and (max-width: 768px) {
    .product-container {
        margin-right: 10px;
        margin-bottom: 10px;
        width: calc(33.333% - 10px);
    }
    .product-filters {
        display: none;
    }
    .catalogue-wrapper {
        margin-left: 0;
    }
}

@media only screen and (min-width: 767px) {
    .product-container {
        display: block;
    }
}

@media only screen and (max-width: 520px) {
    .product-wrapper {
        /* flex-direction: column; */
        align-items: center;
    }
    .product-container {
        width: 100vw;
        margin: 0 0 15px 0;
    }
    .side-filters {
        display: none;
    }
}
