<% layout('layouts/boilerplate')%>
<% layout('./layouts/boilerplate')%>
<div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="bg-danger p-3">
        <div class="mb-3 p-3">
            <h2><%= err.message %></h2>
        </div>
        <div class="d-flex justify-content-around align-items-center">
            <div>
                <a href="/" class="text-decoration-none">
                    <span class="material-symbols-outlined">
                    home
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>