<% layout('layouts/boilerplate') %>
    <div class="p-3">
        <h1>Receiver</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum a est nisi placeat, delectus iusto quia
            similique illo? Tempore non quaerat veritatis accusantium cupiditate quibusdam.</p>
    </div>