<% layout('layouts/boilerplate') %>
    <h1>Receiver</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum a est nisi placeat, delectus iusto quia
        similique illo? Tempore non quaerat veritatis accusantium cupiditate quibusdam.</p>