<% layout('layouts/boilerplate') %>
    <div style="background-image: url('https://www.denon.com/-/media/Images/ProductImages/DenonEU/Products/PMAA110/PMA-A110_Top_Banner_31092020.jpg');
        background-size: cover; background-position:center; height: 400px; width: 100%; margin: 0;"
        class="vh-40 vw-100" alt="">
    </div>
    <div class="p-3 vh-100">
        <h1 class="mb-3">Legendary sound, PI brings professional audio to your home.</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum a est nisi placeat, delectus iusto quia
            similique illo? Tempore non quaerat veritatis accusantium cupiditate quibusdam.</p>
    </div>