<% layout('./layouts/boilerplate')%>
    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="d-flex flex-column align-items-strech justify-content-center shadow rounded p-1">
                <h1 class="">Login</h1>
                <form action="/users/login" method='POST' class="mb-3 formValidation">
                    <div class="mb-3">
                        <input type="username" class="form-control" name="username"  autofocus required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name='password' required>
                    </div>
                    <button class="btn btn-primary d-block">Login</button>
                </form>
            </div>
        </div>
    </div>