<% layout('./layouts/boilerplate') %>
    <!-- Add new product -->
    <main class="row mt-3 mx-3 min-h-100">
        <div class="col mt-5 mb-3 shadow bg-light rounded p-3 text-muted">
            <h1 class="mb-3">Add New Product</h1>
            <form action="/products/new" method="post" novalidate class="bs-form-validate">
                <!-- Product Title -->
                <div class="mb-3">
                    <label for="title" class="form-label">Product Title:</label>
                    <input type="text" id="title" name="product[title]" class="p-2 d-block w-100 form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Poduct Brand -->
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand:</label>
                    <select type="text" id="brand" name="product[brand]" class="d-block p-2 w-100 form-select" required>
                        <option value="Denon">Denon</option>
                        <option value="Marantz">Marantz</option>
                        <option value="Yamaha">Yamaha</option>
                    </select>
                </div>
                <!-- SKU -->
                <div class="mb-3">
                    <label for="SKU" class="form-label">SKU:</label>
                    <input type="text" id="SKU" name="product[sku]" class="d-block w-100 p-2 form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Components -->
                <div class="mb-3">
                    <label for="component" class="form-label">Component:</label>
                    <select id="component" name="product[component]" class="d-block w-100 p-2 form-select" required>
                        <option value="Amplifier">Amplifier</option>
                        <option value="Receiver">Receiver</option>
                        <option value="CD Player">CD Player</option>
                        <option value="Newtowk Player">Network Player</option>
                    </select>
                </div>
                <!-- Description -->
                <div class="mb-3">
                    <label for="description" class="form-label">Product Description:</label>
                    <textarea type="text" rows="5" cols='33' id="description" name="product[description]"
                        class="form-control" required></textarea>
                </div>
                <!-- Channels -->
                <div class="mb-3">
                    <label for="channels" class="form-label">Output Channels</label>
                    <select name="product[channels]" id="channels" class="p-2 d-block w-100 form-select" required>
                        <option value="Stereo">Stereo</option>
                        <option value="4-Channels">4-Channels</option>
                        <option value="5-Channels">5-Channels</option>
                        <option value="7-Channels">7-Channels</option>
                        <option value="9-Channels">9-Channels</option>
                    </select>
                </div>
                <!-- Power -->
                <div class="mb-3">
                    <label for="power" class="form-label">Power</label>
                    <select name="product[power]" id="power" class="p-2 d-block w-100 form-select" required>
                        <option value="14w">14 Watts/Channel</option>
                        <option value="25w">25 Watts/Channel</option>
                        <option value="60w">60 Watts/Channel</option>
                        <option value="125w">125 Watts/Channel</option>
                    </select>
                </div>
                <!-- Product Status -->
                <div class="mb-5">
                    <label for="status" class="form-label">Status:</label>
                    <select type="text" id="status" name="product[status]" class="p-2 d-block w-100 form-select"
                        required>
                        <option value="Coming Soon">Coming Soon</option>
                        <option value="Available">Available</option>
                        <option value="Out of Stck">Out of Stck</option>
                        <option value="End of Life">End of Life</option>
                        <option value="Discontinued">Discontinued</option>
                    </select>
                </div>
                <!-- Submite button -->
                <button class="btn btn-primary d-block w-100" type="submit">Save New Product</button>
            </form>
        </div>
    </main>