<% layout('./layouts/boilerplate') %>
    <div class="mt-3 p-3 mb-3 h-100">
        <h3>Amplifiers</h3>
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-md-4 card bg-transparent m-3">
                <img src="https://assets.denon.com/Assets/images/ProductImages/PMA-A110/1658_DN_PMA-A-110_overview_image_900x595.png"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title">Stereo Amplifier</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel beatae
                        consectetur
                        tempora dicta illo praesentium hic, nulla totam quas inventore veniam deleniti exercitationem
                        magni
                        iure.</p>
                </div>
            </div>
            <div class="col-md-4 m-3 card bg-transparent">
                <img src="https://assets.denon.com/Assets/images/ProductImages/PMA-A110/1658_DN_PMA-A-110_overview_image_900x595.png"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title">Stereo Amplifier</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel beatae
                        consectetur
                        tempora dicta illo praesentium hic, nulla totam quas inventore veniam deleniti exercitationem
                        magni
                        iure.</p>
                </div>
            </div>
            <div class="col-md-4 m-3 card bg-transparent">
                <img src="https://assets.denon.com/Assets/images/ProductImages/PMA-A110/1658_DN_PMA-A-110_overview_image_900x595.png"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title">Stereo Amplifier</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel beatae
                        consectetur
                        tempora dicta illo praesentium hic, nulla totam quas inventore veniam deleniti exercitationem
                        magni
                        iure.</p>
                </div>
            </div>
            <div class="col-md-4 m-3 card bg-transparent">
                <img src="https://assets.denon.com/Assets/images/ProductImages/PMA-A110/1658_DN_PMA-A-110_overview_image_900x595.png"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title">Stereo Amplifier</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel beatae
                        consectetur
                        tempora dicta illo praesentium hic, nulla totam quas inventore veniam deleniti exercitationem
                        magni
                        iure.</p>
                </div>
            </div>
        </div>
    </div>